@import url('https://fonts.googleapis.com/css?family=Hind|Righteous&display=swap');

body {
  background-color: #290a41;
  margin: 0;
  padding: 0;
  height: 600px;
}

.background {
  background-color: #efeeee;
}

.primary-button {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color:  #e1bee7;
  color: #000000;
  width: 126px;
  height: 40px;
  font-family: 'Righteous', cursive;
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
}

.primary-button:hover{
  background-color: #af8eb5;
}

.main-container{
  justify-content: space-around;
  margin-top: 30px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primary-input{
  border-radius: 18px;
  width: 238px;
  height: 31px;
  border: 1px solid gray;
  padding-left: 12px;
  padding-top: 4px;
  margin-top: 10px;
  font-family: 'Hind', sans-serif;
}

.login-text{
  font-family: 'Hind', sans-serif;
  color: #efeeee;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-button{
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
}

.link{
  text-decoration: none;
  color: #d393e9;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  margin-bottom: -20px;
}

.text-logo{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: #efeeee;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3px;
}
.header{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #290a41;
  color: white;
  font-weight: bold;
  font-family: "Righteous";
  text-align: center;
  align-self: center;
}
.header-title{
  justify-self: center;
  margin: 0;
}
.new-post {
  display: flex;
  flex-direction: column;
  width: 88vw;
  padding: 8px 12px;
  height: 135px;
  background-color: #9c64a6;
  border-radius: 6px;
}

.post-btn {
  align-self: flex-end;
  margin-top: 4px;
  width: 85px;
  height: 32px;
  padding: 0;
}

.post-btn:disabled {
  background-color: #cf8fda7a;
  color: #00000066;
}

.post-btn:disabled:hover {
  cursor: not-allowed;
}

.margin-top-container {
  margin-top: 15px;
}

.add-post{
  width: 82vw;
  height: 73px;
  padding: 10px;
  resize: none;
  font-size: 17px;
  align-self: center;
  border-radius: 8px;
  border: 1px solid grey;
  font-family: 'Hind', sans-serif;
}

.erro{
  text-align: center;
  margin-top: 35px;
  width: 92vw;
  font-family: 'Hind', sans-serif;
}

.posts{
  width: 94vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signout-icon{
  color: #d393e9;
  font-size: 33px;
}

.signout-icon:hover{
  cursor: pointer;
  color: #af8eb5;
}

.container-post{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.posted{
  border-radius: 6px 6px 0 0;
}

.posted-name{
  background-color: #290a41;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px;
  font-size: 15px;
  margin-bottom: 13px;
  color: #ffffff;
  font-family: 'Hind', sans-serif;
}

.text {
  margin: 0;
  width: 70vw;
  font-family: 'Hind', sans-serif;
  word-wrap: break-word;
}

.editable-text {
  background-color: whitesmoke;
  padding: 3px 3px;
}

.text-button {
  background-color:  #e1bee7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -13px;
  padding: 3px 8px;
}

.minibtns {
  border: none;
  padding: 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.minibtns:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.save-btn:hover {
  color: green;
}

.edit-btn:hover {
  color: #454ee7;
}

.delete-btn:hover {
  color: #d30505;
}

.comment-btn:hover {
  color: #2ad1a7;
}

.like-btn:hover {
  color: palevioletred;
}

.comment-area {
  width: 96%;
  padding: 3px 7px;
  margin-bottom: 5px;
  background-color: #d393e9;
  border-radius: 10px;
}

.comments {
  background-color: #9c64a6;
  height: max-content;
  padding: 3px 8px;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
}

.comment-name {
  font-weight: bold;
  font-size: 14px;
}

.likes {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
}

.add-comment {
  resize: none;
  width: 95%;
  height: 45%;
  border-radius: 8px;
  border: 1px solid grey;
  font-family: 'Hind', sans-serif;
  padding: 3px 7px;
  font-size: 18px;
}

.comments-title{
  margin: 0;
  background-color: #643173;
  padding: 3px 10px;
  
}

.branco {
  color: white;
  font-weight: bold;
  font-family: 'Hind', sans-serif;
  margin: 0;
}

.screen-margin-bottom {
  margin-bottom: 10px;
}

.square-border {
  border-radius: 0;
}

@media (min-width: 900px){
  .main-container{
    flex-direction: row;
    margin-top: 100px;
  }

  .erro {
    width: 20vw;
  }

  .google-button:hover{
    cursor: pointer;
  }

  .logo{
    height: 280px;
    width: 280px;
    margin-bottom: -37px;
}

  .text-logo{
    font-size: 45px;
    display: flex;
  }

  .add-post{
    width: 39vw;
  }

  .new-post {
    width: 40vw;
  }

  .posts {
    width: 42vw;
  }

  .text {
    width: 39.7vw;
  }
}