@import url('https://fonts.googleapis.com/css?family=Hind|Righteous&display=swap');

body {
  background-color: #efeeee;
  margin: 0;
  padding: 0;
  height: 600px;
}

.primary-button {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color:  #e1bee7;
  color: #000000;
  width: 126px;
  height: 40px;
  font-family: 'Righteous', cursive;
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
}

.primary-button:hover{
  background-color: #af8eb5;
  box-shadow: 2px 2px 5px grey
}

.main-container{
  justify-content: space-around;
  margin-top: 50px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primary-input{
  border-radius: 18px;
  width: 238px;
  height: 31px;
  border: 1px solid gray;
  padding-left: 12px;
  padding-top: 4px;
  margin-top: 10px;
  font-family: 'Hind', sans-serif;
}

.login-text{
  font-family: 'Hind', sans-serif;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-button{
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  box-shadow: 2px 2px 5px grey;
}

.link{
  text-decoration: none;
  color: #863895;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  margin-bottom: -20px;
}

.text-logo{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: rgb(59, 59, 59);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3px;
}
.header{
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color:#290a41;
  padding: 10px 15px;
}
.header-title{
  justify-self: center;

}
.profile{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.photo-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%  
}
.photo-img{
  width: 20%;
}
.new-post {
  display: flex;
  flex-direction: column;
  width: 92vw;
  height: 135px;
  padding: 9px 3px;
  background-color: #e1bee7;
  border-radius: 6px;
}

.select-and-button{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.select{
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: 10px;
}

select{
  appearance: none;
  outline: none;
  background: #e1bee7;
  border: 0;
}

.privacyOption{
  position: relative;
  width:90px;
  height: 30px;
  overflow: hidden;
  padding: 1px;
  font-size: 15px;
}

.post-btn {
  align-self: flex-end;
  margin-top: 4px;
  width: 85px;
  height: 32px;
  padding: 0;
  margin-right: 10px;
  background-color: #9c64a6;
}

.post-btn:disabled {
  background-color: #9c64a67d;
  color: #00000066;
  box-shadow: none;
}

.post-btn:disabled:hover {
  cursor: not-allowed;
}

.margin-top-container {
  margin-top: 15px;
}

.add-post{
  width: 82vw;
  height: 73px;
  padding: 10px;
  resize: none;
  font-size: 17px;
  align-self: center;
  border-radius: 8px;
  border: 1px solid grey;
  font-family: 'Hind', sans-serif;
}

.erro{
  text-align: center;
  margin-top: 35px;
  width: 92vw;
  font-family: 'Hind', sans-serif;
}

.posts{
  width: 100%;
}

.signout-button {
  width: 57px;
  margin-top: 0;
  height: 35px;
  padding: 0;

}

.container-post{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.posted{
  border-radius: 6px 6px 0 0;
}

.posted-name{
  background-color: #290a41;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px;
  font-size: 15px;
  margin-bottom: 13px;
  color: #ffffff;
  font-family: 'Hind', sans-serif;
}

.text {
  margin: 0;
  width: 70vw;
  font-family: 'Hind', sans-serif;
  background-color:  #e1bee7;
  word-wrap: break-word;
}

.editable-text {
  background-color: whitesmoke;
  padding: 3px 3px;
}

.text-button {
  background-color:  #e1bee7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -13px;
  padding: 3px 8px;
}

.minibtns {
  border: none;
  padding: 0;
  color: black;
  font-weight: bold;
  font-size: 17px;
}

.minibtns:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.save-btn:hover {
  color: green;
}

.edit-btn:hover {
  color: #454ee7;
}

.delete-btn:hover {
  color: #d30505;
}

.comment-btn:hover {
  color: #2ad1a7;
}

.like-btn:hover {
  color: palevioletred;
}

.comment-area {
  width: 98.5%;
  padding: 3px 3px;
  border-bottom: 1px solid gray;
  background-color: #d393e9;
}

.comments {
  background-color: #a342a3;
  height: max-content;
  padding: 3px 8px;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
}

.likes {
  font-family: 'Hind', sans-serif;
}

.add-comment {
  resize: none;
  width: 99%;
  height: 45%;
  border-radius: 8px;
  border: 1px solid grey;
  font-family: 'Hind', sans-serif;
  margin-bottom: -20px;
}

.screen-margin-bottom {
  margin-bottom: 10px;
}

.user-info{
  font-size: 20px;
}

@media (min-width: 900px){
  .main-container{
    flex-direction: row;
  }

  .erro {
    width: 20vw;
  }

  .google-button:hover{
    cursor: pointer;
  }

  .logo{
    height: 280px;
    width: 280px;
    margin-bottom: -37px;
  }

  .text-logo{
    font-size: 45px;
    display: flex;
  }
  .photo-profile{
    align-self: start;
    margin-top:10px ;
    width: 28%;
  }
  .add-post{
    width: 39vw;
  }

  .new-post {
    width: 42vw;
  }

  .posts {
    width: 42vw;
  }

  .signout-button {
    width: 6vw;
  }

  .text {
    width: auto;
  }
}