@import url('https://fonts.googleapis.com/css?family=Hind|Righteous&display=swap');

body {
  background-color: #f3e5f5;
  background-color: #efeeee;
  margin: 0;
  padding: 0;
  height: 600px;
}

.primary-button {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color:  #e1bee7;
  color: #000000;
  width: 126px;
  height: 40px;
  font-family: 'Righteous', cursive;
  font-size: 16px;
  align-self: center;
  margin-top: 20px;
  box-shadow: 2px 2px 5px grey
}

.primary-button:hover{
  background-color: #af8eb5;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
}

.primary-input{
  border-radius: 18px;
  width: 238px;
  height: 31px;
  border: 1px solid gray;
  padding-left: 12px;
  margin-top: 10px;
}

.login-text{
  font-family: 'Hind', sans-serif;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-button{
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  box-shadow: 2px 2px 5px grey;
}

.link{
  text-decoration: none;
  color: #863895;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  margin-bottom: -20px;
}

.text-logo{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: rgb(59, 59, 59);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3px;
}

.new-post {
  display: flex;
  flex-direction: column;
  width: 92vw;
  height: 20vh;
  padding: 9px 3px;
  background-color: #bfb2c1;
  border-radius: 6px;
}

.post-btn {
  align-self: flex-end;
  margin-top: 4px;
  width: 85px;
  height: 32px;
  padding: 0;
  margin-right: 10px;
}

.add-post{
  width: 82vw;
  height: 10vh;
  padding: 10px;
  resize: none;
  font-size: 15px;
  align-self: center;
  border-radius: 8px;
  border: 1px solid grey;
}

.erro{
  text-align: center;
}

.posts{
  width: 100%;
}

.container-post{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.posted{
  border-radius: 6px 6px 0 0;
}

.posted-name{
  background-color: #bfb2c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 13px;
}

.text {
  margin: 0;
  font-family: 'Hind', sans-serif;
}

.text-button {
  background-color:  #e1bee7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 51px;
  margin-top: -13px;
  padding: 3px 8px;
  border-radius: 0 0 6px 6px;
}

.minibtns {
  border: none;
  height: 23px;
  width: 24px;
  padding: 0;
  font-weight: bold;
}

.minibtns:hover {
  background-color: #af8eb5;
}

.delete-btn {
  margin-right: 3px;
}

.edit-btn, .save-btn {
  font-size: 20px;
}

@media (min-width: 900px){
  .main-container{
    flex-direction: row;
  }

  .google-button:hover{
    cursor: pointer;
  }

  .logo{
    height: 280px;
    width: 280px;
    margin-bottom: -37px;
}

  .text-logo{
    font-size: 45px;
    display: flex;
  }

  .add-post{
    width: 70vh;
  }
}